.commonWrapper {
    position: relative;
    background: white;
    border-radius: 2px;
    padding: 20px 31px;
    margin: 0px 0 8px 0;
    .title {
        height: 35px;
        font-family: PingFang SC;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 35px;
        color: #000000;
        margin-bottom: 15px;
    }
}
