.g-btn {
    display: inline-block;
    /* border: 1px solid #D0D3D4; */
    border-radius: 4px;
    /* background: #3498DB; */
    margin: 0;
    outline: none;
    cursor: pointer;
    /* important↓ */
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 50px;
    position: absolute;
  }
   
  .g-btn:hover {
    /* background: #5DADE2; */
  }
   
  .g-btn>span {
    display: inline-block;
    color: white;
    pointer-events: none;
  }
   
  .g-ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(140, 78, 78, 0.4);
    opacity: 1;
  }