.formTableEx {
    margin-bottom: 20px;
}
.formTable_title {
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.formTable_info {
    font-family: PingFang SC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    width: 100%;
    word-break: break-word;
}
